<!-- <div class="row w-100 " style="background-image:url('/assets/images/b1.jpg'); background-repeat: no-repeat; background-position:25% top; background-size: contain; ">
<div class="col-6 main ms-5 border border-5 text-center text-white p-0 ">
    <h1 class="text-center">Login Form</h1>

    <input  type="text" id="a1" placeholder="Account Number" class="mt-2 w-75"><br><br>
    <input  type="password" id="p1" placeholder="Password" class="mt-2 w-75"> <br> <br>
    <button (click)="login()"  class="btn btn-success" type="button">Login</button>  <br>
    <a routerLink="register" class="text-black"><strong>  Create New Account </strong></a>
</div>
</div> -->
<!-- </div> -->

<!-- ----------- -->
    <div class="container">
        <div class="login">
            <div class="content">
                <img src="/assets/images/bankimg.jpg" alt="">
            </div>
            <div class="loginform">
                <h1>Login</h1>
                <form>
                    <div class="tbox">
                        <i class="fa fa-user"></i><input [(ngModel)]="acno" type="text" id="a1" name="acno" placeholder="Account Number">
                    </div>
                    <div class="tbox">
                        <i class="fa fa-lock"></i><input [(ngModel)]="psw" type="password" id="p1" name="psw" placeholder="Password">
                    </div>
                    <button (click)="login()"  class="btn" type="button">Login</button>
                </form>
                <a routerLink="register" class="text-black"><strong>  Create New Account </strong></a>

            </div>
        </div>
    </div>

