<div class="row w-100 ">
  <div class="col-6 ">

  </div>
  <div class="col-6 w-50">
      <h1>Enjoy Net Banking With <strong class="text-warning"> SBI </strong></h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Neque accusamus voluptatibus fugiat culpa mollitia aspernatur 
           ratione inventore error est! Voluptates odit id qui culpa obcaecati at
            quibusdam eligendi saepe maiores!</p>
      <img class="w-50" src="https://i.postimg.cc/kMHJCgcH/Online-Concept-Vector-Hd-PNG-Images-Cartoon-Concept-Illustration-Of-Online-Banking-Service-Online.png" alt="">
  </div>
</div>
<button style="background-color: rgb(22, 15, 15); color: white;">
View Profile</button>

<button style="background-color: rgb(22, 15, 15); color: white;">
Balance Enquiry</button>
<button style="background-color: rgb(22, 15, 15); color: white;">
   Money Transfer </button>
    <button style="background-color: rgb(22, 15, 15); color: white;">
    Account Statement</button>
        <button style="background-color: rgb(22, 15, 15); color: white;">
      Logout  </button>
      <button style="background-color: rgb(22, 15, 15); color: white;">
        Delete Account  </button>
        