<div class="register">
    <div class="content">
        <img src="/assets/images/bankimg.jpg" alt="">
    </div>
    <div class="registerform">
<h1 class="text-center">create new account</h1>
<input [(ngModel)]="acno" type="text" id="b1" name="n1" placeholder="Account Number" class="mt-2 w-75 "><br><br>
<input [(ngModel)]="uname" type="text" id="b2" name="n2" placeholder="User Name" class="mt-2 w-75"><br><br>
<input [(ngModel)]="psw" type="password" id="b3" name="n3"  placeholder="password" class="mt-2 w-75"><br><br>
<input [(ngModel)]="cpsw" type="password" id="b4" name="n4"  placeholder="confirm password" class="mt-2 w-75"><br><br>
<button (click)="signup()" type="button" class="btn btn-success">Crerate</button><br>
</div>
</div>